<!DOCTYPE html>
<html lang="en" ng-app="BindingApp">
<head>
    <meta charset="UTF-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>2-way, 1-way, and 1-time binding</title>
</head>
<body>
    <h1>2-way, 1-way, and 1-time binding</h1>
    <div ng-controller="BindingController">
        <button ng-click="showNumberOfWatchers()"> Log # of Watchers</button><br><br>
        <button ng-click="setFullName()"> Set full name</button><br><br>

        Full name is: {{ ::fullName }} <br><br>  <!-- 1 time binding -->

        <button ng-click="logFirstName()">Log First Name</button>
        <button ng-click="logFullName()">Log Full Name</button>
        <div>
            <input type="text" ng-model="firstName">
        </div>
    </div>
</body>
</html>